body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background: white;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/*style to footer*/
.f-info-link a{
    text-decoration: none;
    color: #222222;
    margin-right: 0.5rem;

}
.f-info-link{
    position: absolute;
    margin-top: 6.5rem;
    margin-right: 1rem;
}
.f-info-link a:hover{
  
    text-decoration: underline;
}
.f-info-links,.f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-top: 3rem;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-brand{
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/*Cards*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: whitesmoke;
}
/* show image */
.show-image{
    height: 30vh;
    
}
.btns{
    display: flex;
}
.edit-btn{
    background-color:#fe424d !important;
}
.show-card{
    padding-left: 0%;
    padding-right: 0%;
}

/* style for home page */
body {
    background-color: #f8d7da; /* Light red background */
}

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff; /* White background for form */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    background-color: #dc3545; /* Bootstrap red */
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #b02a37; /* Darker red for hover */
}

.form-title {
    color: #dc3545;
    font-weight: bold;
}
