<!-- <%- layout("/layouts/boilerplate.ejs") %>

<div class="container">
    <div class="signup-container">
        <h2 class="text-center form-title">Sign Up</h2>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control mb-3" id="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control mb-3" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control mb-3" id="password" placeholder="Enter password" required>
            </div>
        
        <a href="/listing"><button type="submit" class="btn btn-custom btn-block">Add your info</button></a>
        <br>
            <!-- <form method="get" action="listing/login">
            <button type="submit" class="btn btn-custom btn-dark">Login</button> -->
        </form>
        </form>
    </div>
</div>

<!-- Bootstrap JS (Optional for functionality) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
 -->
